/*Added by themaster*/



    /* Content table styling */
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 600px; /* Increased the width for better spacing */
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px 15px 0 0;
}

.content-table thead tr {
    background-color: rgb(40, 40, 40);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    vertical-align: middle;
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 0.1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #2e2c2c;
}

.content-table tbody tr:last-of-type {
    border-bottom: 1px solid #2F4F4F;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.content-table tbody:nth-child(odd) {
    background-color: rgb(40, 40, 40);
}

/* Poster image styling */
.poster-image {
    width: 100px; /* Fixed width for poster */
    height: 150px; /* Fixed height for poster */
    object-fit: cover; /* Ensures the image scales properly */
    border-radius: 5px; /* No rounding of the image */
}

    /*Content table*/


    .movie-poster {
      z-index: 2;
      width: 27%;
    }

    .movie-poster img {
      width: 100%;
      min-width: 100%;
      border-radius: 15px;
    }

    .meta-info {
      padding-left: 1%;
      width: 73%;
      position: relative;
      overflow: hidden;
    }

    .movie-wrapper {
      padding: 1% 1% 0;
      min-height: 200px;
      position: relative;
      overflow: hidden;
      display: flex;


    }

    .movie-wrapper .badge-user {
      margin-left: 0;
      font-size: 14px;
      background-color: rgba(39, 38, 52, 0.6);
      border-color: rgba(182, 218, 242, 0.3);

    }

    .tagss {
      color: rgba(255, 255, 255, 0.3);
      position: absolute;
      right: 2%;
      top: 25px;
      font-size: 50px;
      font-weight: 700;
      z-index: 2;
    }

    .movie-right {
      position: absolute;
      right: 2%;
      top: 125px;
      z-index: 3;
      max-width: 230px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

    }

    .movie-overlay {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background: rgba(28, 31, 36, 0.75);
      transition: background-color 0.6s;
    }

    .movie-top, .movie-bottom {
      position: absolute;
      z-index: 2;
      left: 3%;
    }

    .movie-top {
      top: 3%;
    }

    .movie-bottom {
      padding-top: 0;
      bottom: 3%;
      width: 95%;
    }

    @media (max-width: 767px) {
        .hidden-mobile {
          display: none;
        }
      }

      .w3-circle{border-radius:50%}
      /* .fade {
         opacity: 0;
         -webkit-transition: opacity 2.25s linear;
         -moz-transition: opacity 2.25s linear;
         -ms-transition: opacity 2.25s linear;
          -o-transition: opacity 2.25s linear;
          transition: opacity 2.25s linear;
   } */

   hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
  }

  hr:not([size]) {
    height: 1px;
  }

  a {

    text-decoration: none;

    }
    a:hover,
    a:focus,
    a:active {
    background-size: 100% 0.1em;
    background-position-x: 0%;
    }


    td.imdb-photo{width:175px;height:250px;border:0;text-align:center}
  img.imdb-photo{
      width:190px;
      border: 2px solid black;
      border-radius: 10px;
      opacity: 0.6;
      transition: 0.20s ease-in-out;
  }
  img.imdb-photo:hover{
      opacity: 1;
  }

  td.detailsphoto
  {
      max-width: 550px;height:250px;border:0;text-align:center
  }
  img.detailsphoto{
      max-width: 550px;
      border: 1px solid black;
      border-radius: 10px;
      opacity: 0.6;
      transition: 0.20s ease-in-out;
  }
  img.detailsphoto:hover{
      opacity: 2;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .movie-backdrop {
      z-index: 0;
      width: 100%;
      padding-top: 56.25%;
      background: no-repeat;
      background-size: cover;
      border-radius: 15px;
      position: relative;
  }


  .l1 {
      font-size: 1.9rem;
      background: linear-gradient(to left, rgb(112, 101, 214),rgb(230, 106, 213));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display:inline;
      }

      .l2 {
          /*font-size: 2rem;*/
          background: linear-gradient(to left, rgb(112, 101, 214),rgb(230, 106, 213));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          display:inline;
          }












        .card-blur{background-color:rgba(44,44,48,.9)!important}






                /* Tooltip */
                .tooltip-inner {
                    max-width: 200px;
                    background-color: #333;
                    color: #fff;
                }

                .tooltip.bs-tooltip-top .arrow::before,
                .tooltip.bs-tooltip-bottom .arrow::before {
                    border-top-color: #333 !important;
                }

                .tooltip.bs-tooltip-start .arrow::before,
                .tooltip.bs-tooltip-end .arrow::before {
                    border-right-color: #333 !important;
                }




blockquote.quote {
    background-color: #797878;
    border-left: 5px solid #ccc;
    padding: 10px 15px;
    margin: 10px 0;
    font-style: italic;
    font-weight: bold;
    font-size: 1em;
    color: #dad8d8;
}

blockquote.quote p {
    margin: 0;
}

